@use 'sass:math';

 @import 'admin/metaboxes';

@mixin invisible() {
    height: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    margin: 0 !important;
    padding: 0 !important;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	display: none;
}
body.devkit-editor-hidden {
    .is-root-container,
    #elementor-editor,
    #editor .edit-post-header__toolbar,
    #post-body-content #postdivrich,
    #post-body-content .fl-builder-admin,
    #post-body-content #elementor-switch-mode,
    #post-body-content #elementor-editor {
        @include invisible();

    }
}

.wp-block-devkit-layouts-template-parts {
	.template-part-default {
        padding: 1em;
		background-color: #F0F0F0;
        border: 1px solid #ccc;
        border-radius: 3px;
	}
}
.flexible-modal {
  position: absolute;
  z-index: 1;
  border: 1px solid #ccc;
  background: white;
}
.flexible-modal-mask {
  position: fixed;
  height: 100%;
  background: rgba(55, 55, 55, 0.6);
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.flexible-modal-resizer {
  position:absolute;
  right:0;
  bottom:0;
  cursor:se-resize;
  margin:5px;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
}
.flexible-modal-drag-area{
  background: rgba(22, 22, 333, 0.2);
  height: 50px;
  position:absolute;
  right:0;
  top:0;
  cursor:move;
}
:root {
    --devkit-modal-top: 36px;
    --devkit-modal-left: 160px;
    @media ( 'min-width: 783px' )
    {
        --devkit-modal-top : 32px;
    }
}
body.folded,
body.auto-fold {
    --devkit-modal-left: 36px;
}
.ReactModal__Overlay.devkit_modal {
    position: fixed;
    inset: 0;
    background-color: rgba(#000, 0.25);
    z-index: 99999;
    .ReactModal__Content {
        max-width: 960px;
        margin: 0 auto;
        inset: 10vw !important;
        border: none !important;
        padding: 0 !important;
    }
    header {
        position: relative;
        button.devkit-expand-contract {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 99;
            //margin-left: auto;
            //margin-top: -20px;
            //margin-right: -20px;
            //background-color: rgba( #000, .15 );
        }
    }
}
button.devkit-expand-contract {
    border: none;
    background: transparent;
    &:hover,
    &:focus {
        background-color: rgba( #000, .15 );
        cursor: pointer;
    }
}

:root {
    --devkit-color-danger : #dc3545;
    --devkit-color-success : #35ac50;
    --devkit-color-info : #037bff;
    --devkit-color-link : #2271b1;
}

#devkit_layouts_locations {
    .field.button-container {
        flex: unset;
        justify-content: center;
    }
}

#menu-appearance a[href="edit-tags.php?taxonomy=devkit-layout-group"]:before {
	content: "\21B3";
	margin-right: 0.5em;
	opacity: 0.5;
}
