:root {
	--devkit-box-padding : 1.618em;
	--devkit-box-gap :1.618em;
	--devkit-grid-columns : 1;
}


@import 'mixins';
@import 'variables';
@import 'icons';
@import 'edit-link';
@import 'post-navigation';
@import 'components/related-recent-posts';

@font-face {
  font-family: 'custom-layouts';
  src:  url('../fonts/custom-layouts.eot?vpx2g6');
  src:  url('../fonts/custom-layouts.eot?vpx2g6#iefix') format('embedded-opentype'),
    url('../fonts/custom-layouts.ttf?vpx2g6') format('truetype'),
    url('../fonts/custom-layouts.woff?vpx2g6') format('woff'),
    url('../fonts/custom-layouts.svg?vpx2g6#custom-layouts') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cl-icon-"], [class*=" cl-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-layouts' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cl-icon-youtube1:before {
  content: "\f167";
}
.cl-icon-arrow_back:before {
  content: "\e900";
}
.cl-icon-arrow_forward:before {
  content: "\e901";
}
.cl-icon-arrow_back_ios:before {
  content: "\e902";
}
.cl-icon-arrow_forward_ios:before {
  content: "\e903";
}
.cl-icon-minus:before {
  content: "\e904";
}
.cl-icon-plus:before {
  content: "\e905";
}
.cl-icon-bubble:before {
  content: "\e96b";
}
.cl-icon-bubbles:before {
  content: "\e96c";
}
.cl-icon-bubbles2:before {
  content: "\e96d";
}
.cl-icon-sphere:before {
  content: "\e9c9";
}
.cl-icon-earth:before {
  content: "\e9ca";
}
.cl-icon-link:before {
  content: "\e9cb";
}
.cl-icon-new-tab:before {
  content: "\ea7e";
}
.cl-icon-mail2:before {
  content: "\ea84";
}
.cl-icon-mail3:before {
  content: "\ea85";
}
.cl-icon-google:before {
  content: "\ea88";
}
.cl-icon-google2:before {
  content: "\ea89";
}
.cl-icon-facebook:before {
  content: "\ea90";
}
.cl-icon-facebook2:before {
  content: "\ea91";
}
.cl-icon-instagram:before {
  content: "\ea92";
}
.cl-icon-twitter:before {
  content: "\ea96";
}
.cl-icon-rss:before {
  content: "\ea9b";
}
.cl-icon-rss2:before {
  content: "\ea9c";
}
.cl-icon-youtube:before {
  content: "\ea9d";
}
.cl-icon-behance:before {
  content: "\eaa8";
}
.cl-icon-behance2:before {
  content: "\eaa9";
}
.cl-icon-github:before {
  content: "\eab0";
}
.cl-icon-wordpress:before {
  content: "\eab4";
}
.cl-icon-tumblr:before {
  content: "\eab9";
}
.cl-icon-tumblr2:before {
  content: "\eaba";
}
.cl-icon-appleinc:before {
  content: "\eabe";
}
.cl-icon-android:before {
  content: "\eac0";
}
.cl-icon-soundcloud:before {
  content: "\eac3";
}
.cl-icon-soundcloud2:before {
  content: "\eac4";
}
.cl-icon-wikipedia:before {
  content: "\eac8";
}
.cl-icon-linkedin:before {
  content: "\eac9";
}
.cl-icon-linkedin2:before {
  content: "\eaca";
}
.cl-icon-pinterest:before {
  content: "\ead1";
}
.cl-icon-pinterest2:before {
  content: "\ead2";
}

.screen-reader-text {
	clip: rect(0px, 0px, 0px, 0px);
	-webkit-clip-path: rect( 0px 0px, 0px 0px, 0px 0px, 0px 0px);
	clip-path: rect( 0px 0px, 0px 0px, 0px 0px, 0px 0px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	font-size: 0;
	overflow: hidden;
}

#devkit-author {
	// padding: var( --cl-box-padding, 1em );
	// background: var( --cl-box-background, #fff );
	display: flex;
	flex-direction: column;
	gap: var( --cl-box-padding, 1em );
	> .container {
		display: flex;
		flex-direction: column;
		flex-wrap: no-wrap;
		gap: var( --cl-box-padding, 1em );
		width: 100%;
		div.author-image {
			img {
				border-radius: 100%;
			}
		}
		div.author-info {
			flex: 1;
			display: flex;
			flex-direction: column;
			gap: var( --cl-box-padding, 1em );
			.author-header {
				h4 {
					font-size: 1.5em;
					margin: 0 !important;
					line-height: 1;
				}
			}
			.author-body {
				p,
				div,
				aside,
				ul,
				li {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	.author-social-links {
		list-style-type: none !important;
		list-style-position: inside !important;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		padding: 0 !important;
		margin: 0 !important;
		li {
			list-style-type: none !important;
			list-style-position: inside !important;
		}
	}
	@include media('min-width: tablet-small') {
		> .container {
			flex-direction: row;
		}
	}
}

