{% if devkit.recent_posts %}

	<div class="devkit-recent-posts">

		<div class="devkit-post-grid">

			{% for post in devkit.recent_posts %}

				Grid Item
				{{ include( 'post-grid-item.twig' ) }}
{#				{{ include( 'post-list-item.twig' ) }}#}
			{% endfor %}

		</div>

	</div>

{% endif %}